@keyframes preloader {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
        
    }
    100% {
        transform: rotate(360deg);
        
    }

}
@keyframes apparition {
    0% {
        opacity: 0;
    }
    50% { 
       opacity: 0;
    }
    65% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.6;
    }
    100% {
       opacity: 1;
    }

}