$Font_familyR: Roboto;
$Font_familyS: Shrikhand ;
$Font_color1: #EAEAEA;
$Font_color2: #F6F6F6;
$Font_color3: #89C8FA;
$Font_color4: #003A68;
$Font_color5: #9356DC;

@mixin button_aspect {
    border-radius: 25px;
    background: linear-gradient(#9356DC,#FF79DA);
    border: 0px solid white;
    color: white;
    height: 50px;
    padding-right: 35px;
    padding-left: 35px;
    display: block;
    margin: auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

@mixin button_aspect_stage {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 25px;
    background-color: $Font_color2;
    margin-bottom: 20px;
    width: 325px;
    height: 62px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    font-family: $Font_familyR;
    i {
        padding-top: 15px;
    }
    .number {
        width: 24px;
        height: 24px;
        margin-top: 15px;
        margin-left: -10px;
        border-radius: 100px;
        background-color: $Font_color5;
        p {
            text-align: center;
            margin-bottom: 0px;
            margin-top: 2px;
            color: white;
        }
    }
}

    body {
        margin: 0px;
    }

    header {
        height: 63px;
        img {
            display: flex;
            margin: auto;
            width: 162px;
            padding-top: 20px;
        }
    }

    .place {
        display: flex;
        flex-direction: row;
        height: 50px;
        background-color: $Font_color1;
        justify-content: center;
        gap: 17px;
        i {
            padding-top: 15px;
        } 
    }
    
    .discover {
        background-color: $Font_color2;
        padding-bottom: 40px;
        width: 100%;
        h2 {
            width: 275px;
            margin: auto;
            padding-top: 30px;
            text-align: center;
            font-family: $Font_familyR;
        }
        p {
            width: 315px;
            margin: auto;
            text-align: center;
            padding: 15px;
            font-family: $Font_familyR;
            font-weight: 300;
        }
        input {
            @include button_aspect; 
            margin-top: 20px;  
        }
        
    }

    .functioning  {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 320px;
        margin: auto;
        .stage {
         width: 100%;
        }
        .stage_composition {
            @include button_aspect_stage ;
        }
    }




