@import "sass/mixins.scss" ;

body {
        margin: 0px;
    }

header {
        height: 63px;
        img {
            display: flex;
            margin: auto;
            width: 162px;
            padding-top: 10px;
        }
    }

.place {
        display: flex;
        flex-direction: row;
        height: 50px;
        background-color: $Font_color1;
        justify-content: center;
        gap: 17px;
        i {
            padding-top: 15px;
        } 
    }
    
.discover {
        background-color: $Font_color2;
        padding-bottom: 40px;
        width: 100%;
        h2 {
            width: 275px;
            margin: auto;
            padding-top: 30px;
            text-align: center;
            font-family: $Font_familyR;
        }
        a {
            text-decoration: none;
            color: white;
        }
        p {
            width: 315px;
            margin: auto;
            text-align: center;
            padding: 15px;
            font-family: $Font_familyR;
            font-weight: 300;
        }
        input {
            @include button_aspect; 
            margin-top: 20px;  
            &:hover {
                background: linear-gradient(#a77ade,#faa9e3);
                transition: all 330ms;
            }
        }
        
    }

.functioning  {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: auto;
        .stage {
         width: 100%;
        }
        .stage_composition {
            @include button_aspect_stage ;
        }
    }

.restaurants {
    background-color: $Font_color2;
    display: flex;
    flex-direction: column;
    h2 {
        margin-top: 60px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .article_1 , .article_2 {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        .card {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-radius: 15px;
            background-color: white;
            margin-bottom: 15px;
            height: 250px;
            img {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
            .card_content {
                display: flex;
                flex-direction: row;
                height: 30%;
                width: 100%;
                justify-content:space-between;
                
                .heart {
                    display: block;
                    position: relative;
                    top: 30%;
                    right: 3%;
                    width: 22px;
                    height: 22px;
                    .carre {
                        display: block;
                        position: relative;
                        background-color: white;
                        width: 8px;
                        height: 8px;
                        top: -41%;
                        left: 30%;
                        rotate: (45deg);
                        border-bottom: 1px solid black;
                        border-right: 1px solid black;
                    }
                    .cercle_d {
                        display: block;
                        position: relative;
                        background-color: white;
                        width: 8px;
                        height: 8px;
                        border-radius: 10px 10px 0px 0px;
                        rotate: (45deg);
                        left: 55%;
                        top: 10%;
                        border-right: 1px solid black;
                        border-left: 1px solid black;
                        border-top: 1px solid black;

                    }
                    .cercle_g {
                        display: block;
                        position: relative;
                        background-color: white;
                        width: 8px;
                        height: 8px;
                        border-radius: 10px 10px 0px 0px;
                        border-left: 1px solid black;
                        border-top: 1px solid black;
                        border-right: 1px solid black;
                        rotate: (-45deg);
                        top: -30%;

                    }
                    &:hover .cercle_g {
                        background: linear-gradient(#9356DC,#FF79DA);
                        border-left: 1px solid #a374dc;
                        border-top: 1px solid #a374dc;
                        border-right: 1px solid #a374dc;
                        
                    }
                    &:hover .cercle_d {
                        background: linear-gradient(#9356DC,#FF79DA);
                        border-right: 1px solid #a374dc;
                        border-left: 1px solid #a374dc;
                        border-top: 1px solid #a374dc;
                    }
                    &:hover .carre {
                        background: linear-gradient(#FF79DA,#f996dd);
                        border-bottom: 1px solid #f996dd;
                        border-right: 1px solid #f996dd;
                    }
                }
                
                .card_text {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    h3 {
                        margin: 10px 0px 5px 10px;
                    }
                    p {
                        margin: 0px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #353535;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    a {
        color: white;
        text-decoration: none;
    }
    h2 {
        font-family: shrikhand;
        color: white;
        padding-top: 20px;
        margin: 0px;
        margin-bottom: 20px;
    }
    .add_text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        i {
            margin-right: 10px;
        }
        .text_1 {
            display: flex;
            flex-direction: row;
            p {
                margin: 0px;
            }
        }
        .text_2 {
            display: flex;
            flex-direction: row;
            p {
                margin: 0px;
            }
        }
    }
}


/********************   Flat_1   *********************/


.header__flat {
    display: flex;
    flex-direction: row;
    &--logo {
        padding-top: 35px;
        padding-left: 20px;
        margin-right: -20px;
    }
}

.main__flat {
    &--img {
        width: 100%;
        height: 275px;
        z-index: 1;
        object-fit: cover;
    }
    &--articleflat {
        background-color: $Font_color2;
        border-radius: 35px 35px 0px 0px;
        position: relative;
        margin-top: -40px;
        z-index: 2;
        padding-bottom: 30px;

        .entree, .flat, .dessert {
            margin: auto;
            width: 90%;
            h3 {
                font-family: $Font_familyR;
                font-weight: 300;
                font-size: 16px;
                width: 40px;
                border-bottom: #99E2D0 3px solid;
                height: 25px ;
            }
            .bulle {
            @include button_aspect_flat;
                .bulle__row {
                p {
                    margin-top: 5px;
                }
                }
            }
        }
        .title__flat {
            display: flex;
            flex-direction: row;
            width: auto;
            justify-content: center;

            .heart {
                display: block;
                position: relative;
                padding-top: 25px;
                left: 5%;
                width: 22px;
                height: 22px;
                .carre {
                    display: block;
                    position: relative;
                    background-color: white;
                    width: 8px;
                    height: 8px;
                    top: -41%;
                    left: 30%;
                    rotate: (45deg);
                    border-bottom: 1px solid black;
                    border-right: 1px solid black;
                }
                .cercleD {
                    display: block;
                    position: relative;
                    background-color: white;
                    width: 8px;
                    height: 8px;
                    border-radius: 10px 10px 0px 0px;
                    rotate: (45deg);
                    left: 55%;
                    top: 11%;
                    border-right: 1px solid black;
                    border-left: 1px solid black;
                    border-top: 1px solid black;

                }
                .cercleG {
                    display: block;
                    position: relative;
                    background-color: white;
                    width: 8px;
                    height: 8px;
                    border-radius: 10px 10px 0px 0px;
                    border-left: 1px solid black;
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    rotate: (-45deg);
                    top: -30%;

                }

                &:hover .cercleG {
                    background: linear-gradient(#9356DC,#FF79DA);
                    border-left: 1px solid #FF79DA;
                    border-top: 1px solid #FF79DA;
                    border-right: 1px solid #FF79DA;             
                }
                &:hover .cercleD {
                    background: linear-gradient(#9356DC,#FF79DA);
                    border-right: 1px solid #FF79DA;
                    border-left: 1px solid #FF79DA;
                    border-top: 1px solid #FF79DA;
                }
                &:hover .carre {
                    background: linear-gradient(#FF79DA,#f996dd);
                    border-bottom: 1px solid #FF79DA;
                    border-right: 1px solid #FF79DA;
                }
            }

            &--h2 {
            font-family: shrikhand;
        }
        }
        
        .button__commande {
            @include button_aspect;
            width:186px;
            margin: auto;
            margin-top: 30px;
        }
        
    }
    
}