body {
  margin: 0px;
}

header {
  height: 63px;
}
header img {
  display: flex;
  margin: auto;
  width: 162px;
  padding-top: 10px;
}

.place {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #EAEAEA;
  justify-content: center;
  gap: 17px;
}
.place i {
  padding-top: 15px;
}

.discover {
  background-color: #F6F6F6;
  padding-bottom: 40px;
  width: 100%;
}
.discover h2 {
  width: 275px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  font-family: Roboto;
}
.discover a {
  text-decoration: none;
  color: white;
}
.discover p {
  width: 315px;
  margin: auto;
  text-align: center;
  padding: 15px;
  font-family: Roboto;
  font-weight: 300;
}
.discover input {
  border-radius: 25px;
  background: linear-gradient(#9356DC, #FF79DA);
  border: 0px solid white;
  color: white;
  height: 50px;
  padding-right: 35px;
  padding-left: 35px;
  display: block;
  margin: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}
.discover input:hover {
  background: linear-gradient(#a77ade, #faa9e3);
  transition: all 330ms;
}

.functioning {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
}
.functioning .stage {
  width: 100%;
}
.functioning .stage_composition {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  gap: 25px;
  background-color: #F6F6F6;
  margin-bottom: 20px;
  width: 325px;
  height: 62px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  font-family: Roboto;
}
.functioning .stage_composition i {
  padding-top: 15px;
}
.functioning .stage_composition .number {
  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-left: -10px;
  border-radius: 100px;
  background-color: #9356DC;
}
.functioning .stage_composition .number p {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 2px;
  color: white;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
.restaurants h2 {
  margin-top: 60px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants .article_1, .restaurants .article_2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.restaurants .article_1 .card, .restaurants .article_2 .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 15px;
  height: 250px;
}
.restaurants .article_1 .card img, .restaurants .article_2 .card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .article_1 .card .card_content, .restaurants .article_2 .card .card_content {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  justify-content: space-between;
}
.restaurants .article_1 .card .card_content .heart, .restaurants .article_2 .card .card_content .heart {
  display: block;
  position: relative;
  top: 30%;
  right: 3%;
  width: 22px;
  height: 22px;
}
.restaurants .article_1 .card .card_content .heart .carre, .restaurants .article_2 .card .card_content .heart .carre {
  display: block;
  position: relative;
  background-color: white;
  width: 8px;
  height: 8px;
  top: -41%;
  left: 30%;
  rotate: 45deg;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.restaurants .article_1 .card .card_content .heart .cercle_d, .restaurants .article_2 .card .card_content .heart .cercle_d {
  display: block;
  position: relative;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 10px 10px 0px 0px;
  rotate: 45deg;
  left: 55%;
  top: 10%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.restaurants .article_1 .card .card_content .heart .cercle_g, .restaurants .article_2 .card .card_content .heart .cercle_g {
  display: block;
  position: relative;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 10px 10px 0px 0px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  rotate: -45deg;
  top: -30%;
}
.restaurants .article_1 .card .card_content .heart:hover .cercle_g, .restaurants .article_2 .card .card_content .heart:hover .cercle_g {
  background: linear-gradient(#9356DC, #FF79DA);
  border-left: 1px solid #a374dc;
  border-top: 1px solid #a374dc;
  border-right: 1px solid #a374dc;
}
.restaurants .article_1 .card .card_content .heart:hover .cercle_d, .restaurants .article_2 .card .card_content .heart:hover .cercle_d {
  background: linear-gradient(#9356DC, #FF79DA);
  border-right: 1px solid #a374dc;
  border-left: 1px solid #a374dc;
  border-top: 1px solid #a374dc;
}
.restaurants .article_1 .card .card_content .heart:hover .carre, .restaurants .article_2 .card .card_content .heart:hover .carre {
  background: linear-gradient(#FF79DA, #f996dd);
  border-bottom: 1px solid #f996dd;
  border-right: 1px solid #f996dd;
}
.restaurants .article_1 .card .card_content .card_text, .restaurants .article_2 .card .card_content .card_text {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.restaurants .article_1 .card .card_content .card_text h3, .restaurants .article_2 .card .card_content .card_text h3 {
  margin: 10px 0px 5px 10px;
}
.restaurants .article_1 .card .card_content .card_text p, .restaurants .article_2 .card .card_content .card_text p {
  margin: 0px;
  margin-left: 10px;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 20px;
  padding-bottom: 20px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer h2 {
  font-family: shrikhand;
  color: white;
  padding-top: 20px;
  margin: 0px;
  margin-bottom: 20px;
}
footer .add_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .add_text i {
  margin-right: 10px;
}
footer .add_text .text_1 {
  display: flex;
  flex-direction: row;
}
footer .add_text .text_1 p {
  margin: 0px;
}
footer .add_text .text_2 {
  display: flex;
  flex-direction: row;
}
footer .add_text .text_2 p {
  margin: 0px;
}

/********************   Flat_1   *********************/
.header__flat {
  display: flex;
  flex-direction: row;
}
.header__flat--logo {
  padding-top: 35px;
  padding-left: 20px;
  margin-right: -20px;
}

.main__flat--img {
  width: 100%;
  height: 275px;
  z-index: 1;
}
.main__flat--articleflat {
  background-color: #F6F6F6;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  margin-top: -40px;
  z-index: 2;
  padding-bottom: 30px;
}
.main__flat--articleflat .entree, .main__flat--articleflat .flat, .main__flat--articleflat .dessert {
  margin: auto;
  width: 90%;
}
.main__flat--articleflat .entree h3, .main__flat--articleflat .flat h3, .main__flat--articleflat .dessert h3 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  width: 40px;
  border-bottom: #99E2D0 3px solid;
  height: 25px;
}
.main__flat--articleflat .entree .bulle, .main__flat--articleflat .flat .bulle, .main__flat--articleflat .dessert .bulle {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  font-family: Roboto;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
  height: 62px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  padding-left: 10px;
  padding-right: 10px;
}
.main__flat--articleflat .entree .bulle .infos_flat, .main__flat--articleflat .flat .bulle .infos_flat, .main__flat--articleflat .dessert .bulle .infos_flat {
  font-weight: 300;
}
.main__flat--articleflat .entree .bulle .bulle_row, .main__flat--articleflat .flat .bulle .bulle_row, .main__flat--articleflat .dessert .bulle .bulle_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 19px;
}
.main__flat--articleflat .entree .bulle .bulle_row p, .main__flat--articleflat .flat .bulle .bulle_row p, .main__flat--articleflat .dessert .bulle .bulle_row p {
  margin: 0px;
  margin-top: 10px;
}
.main__flat--articleflat .entree .bulle .name_flat, .main__flat--articleflat .flat .bulle .name_flat, .main__flat--articleflat .dessert .bulle .name_flat {
  margin: 0px;
}
.main__flat--articleflat .entree .bulle .bulle__row p, .main__flat--articleflat .flat .bulle .bulle__row p, .main__flat--articleflat .dessert .bulle .bulle__row p {
  margin-top: 5px;
}
.main__flat--articleflat .title__flat {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
}
.main__flat--articleflat .title__flat .heart {
  display: block;
  position: relative;
  padding-top: 25px;
  left: 5%;
  width: 22px;
  height: 22px;
}
.main__flat--articleflat .title__flat .heart .carre {
  display: block;
  position: relative;
  background-color: white;
  width: 8px;
  height: 8px;
  top: -41%;
  left: 30%;
  rotate: 45deg;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.main__flat--articleflat .title__flat .heart .cercleD {
  display: block;
  position: relative;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 10px 10px 0px 0px;
  rotate: 45deg;
  left: 55%;
  top: 11%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.main__flat--articleflat .title__flat .heart .cercleG {
  display: block;
  position: relative;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 10px 10px 0px 0px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  rotate: -45deg;
  top: -30%;
}
.main__flat--articleflat .title__flat .heart:hover .cercleG {
  background: linear-gradient(#9356DC, #FF79DA);
  border-left: 1px solid #FF79DA;
  border-top: 1px solid #FF79DA;
  border-right: 1px solid #FF79DA;
}
.main__flat--articleflat .title__flat .heart:hover .cercleD {
  background: linear-gradient(#9356DC, #FF79DA);
  border-right: 1px solid #FF79DA;
  border-left: 1px solid #FF79DA;
  border-top: 1px solid #FF79DA;
}
.main__flat--articleflat .title__flat .heart:hover .carre {
  background: linear-gradient(#FF79DA, #f996dd);
  border-bottom: 1px solid #FF79DA;
  border-right: 1px solid #FF79DA;
}
.main__flat--articleflat .title__flat--h2 {
  font-family: shrikhand;
}
.main__flat--articleflat .button__commande {
  border-radius: 25px;
  background: linear-gradient(#9356DC, #FF79DA);
  border: 0px solid white;
  color: white;
  height: 50px;
  padding-right: 35px;
  padding-left: 35px;
  display: block;
  margin: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 186px;
  margin: auto;
  margin-top: 30px;
}

/*# sourceMappingURL=styles.css.map */
